{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

		<header class="header">
			{% include 'partial/header.twig' %}
		</header>

		BLOP 2 565A1EFZ

		<section id="content" role="main" class="main-container">
			{% if title %}<h1>{{title}}</h1>{% endif %}

			{#<div class="wrapper {{ sidebar_class }}">#}
				{% block content %}
					Sorry, no content
				{% endblock %}
			{#</div>#}

			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block contact %}
			{% include 'partial/contact.twig' %}
		{% endblock %}

		{% block footer %}
			<div class="row align-center caption pre-footer">{{ prefooter_block_legal }}</div>
			<footer id="footer" class="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
