{% extends "base.twig" %}

{% block content %}

	{# Cover #}
	<div class="margin-xxl flexbox align-items-center background-dark-grey cover">
		<div class="row">

			<div class="block-title">
				<h1 class="title">{{ post.title }}</h1>
			</div> 

		</div>
	</div>


	{# Items #}
	<div class="margin-xxl massages-list-section" id="decouvrir-les-massages">
		<div class="row">
			
			<div class="align-center margin-l"><img src="{{ site.theme.link }}/static/img/arabesque-1.svg" alt="" width="400"/></div>

			<div class="margin-l flexbox flex-wrap justify-content-center list-items">

				<div>
					<center class="margin-s"><img src="{{ site.theme.link }}/static/img/massages/illu-californien.svg" alt="" /></center>
					<div>
						<div class="margin-m">
							<h2 class="title h4 margin-xs">Lorem Ipsum </h2>
							<p>Fusce congue purus eget nulla dictum suscipit. Suspendisse volutpat urna ac laoreet. </p>
						</div>
					</div>
				</div>

			</div>

			<div class="align-center"><img src="{{ site.theme.link }}/static/img/arabesque-1.svg" alt="" width="400" class="revert-vertical" /></div>
		
		</div>
	</div>


	{# Deroulement #}
	<div class="background-dark-grey process-section" id="deroulement-de-seance">
		<div class="row">

			<h2 class="title margin-l align-center">Le déroulement</h2>

			<div class="flexbox flex-wrap process-items">
				<div>
					<h3 class="title h5 margin-s">Suspendisse volutpat</h3>
					<p>Lorem ipsume at for damet. Suspendisse volutpat urna ac laoreet volutpat. Fusce congue purus eget nulla dictum suscipit.<br>Nulla egestas elit vitae commodo.</p>
				</div>

				<div>
					<h3 class="title h5 margin-s">Lorem ipsume</h3>
					<p>Suspendisse volutpat urna ac laoreet volutpat. Fusce congue purus eget nulla dictum suscipit.<br>Nulla egestas elit vitae commodo.</p>
				</div>

				<div class="align-center"><img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" width="83" class="filter-invert" /></div>
				<div class="align-center"><img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" width="83" class="filter-invert revert-vertical" /></div>

				<div>
					<h3 class="title h5 margin-s">Fusce congue purus eget nulla</h3>
					<p>Nulla egestas elit vitae commodo. Lorem ipsume at for damet. Suspendisse volutpat urna ac laoreet volutpat. Fusce congue purus eget nulla dictum suscipit.</p>
				</div>

				<div>
					<h3 class="title h5 margin-s">Eget nulla dictum</h3>
					<p>Suspendisse volutpat urna ac laoreet volutpat. Fusce congue purus eget nulla dictum suscipit.<br>Nulla egestas elit vitae commodo.</p>
				</div>


				<div class="align-center margin-auto">
					<img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" width="83" class="filter-invert revert-vertical" />
					<img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" width="83" class="filter-invert" />					
				</div>

				<div>
					<h3 class="title h5 margin-s">Nulla egestas elit vitae commodo</h3>
					<p>Fusce congue purus eget nulla dictum suscipit. Suspendisse volutpat urna ac laoreet.</p>
					<p>Lorem ipsume at for damet. Suspendisse volutpat urna ac laoreet volutpat. Fusce congue purus eget nulla dictum suscipit.</p>
				</div>

			</div>

		</div>
	</div>


	{# Bienfaits #}
	<div class="background-white benefits-section">
		<div class="row">

			<h2 class="title align-center margin-xl">Les bienfaits du massage</h2>

			<div class="align-center flexbox flex-wrap justify-content-space-between align-items-start child-flex-1 col-in-mobile">
				<div>
					<p class="h4 margin-s">Pour le corps</p>
					<p>Fusce congue purus eget nulla dictum suscipit. Suspendisse volutpat urna ac laoreet. </p>
					<p>Nulla egestas elit vitae commodo gravida. <br>Morbi tempor at.</p>
				</div>
				<div class="margin-auto">
					<img src="{{ site.theme.link }}/static/img/natural-illustration-7.svg" alt="" width="73" />
				</div>
				<div>
					<p class="h4 margin-s">Pour l'esprit</p>
					<p>Lorem ipsume at for damet. Suspendisse volutpat urna ac laoreet volutpat. Fusce congue purus eget nulla dictum suscipit.<br>Nulla egestas elit vitae commodo.</p>
				</div>
			</div>

		</div>
	</div>


	{# Formulaire contact #}
	<div class="background-white contact-section">
		<div class="row flexbox col-in-mobile">
		
			<div class="flex-1 content">
				<p class="h2 margin-s">Envie de se faire plaisir ou de faire plaisir ?</p>
				<p>Besoin de vous ressourcer ?  Testez un moment de bien-être sans sortir de chez vous. </p>
				<p>Contactez moi pour en savoir plus sur mes prestations, prendre rendez-vous, ou offrir un moment de détente à vos proches.</p>

				<br><br>

				{% include 'partial/form.twig' %}
				
			</div>

			<div class="flex-1"></div>

		</div>
	</div>

	{#
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div>
	#}
{% endblock %}

{% block contact %}{% endblock %}
